<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <title>{% block title %}Home{% endblock title %}</title>

</head>
<style>
    .footer {
        text-align: center;
        background-color: rgb(52, 58, 64);
        color: white;
        padding-top: 20px;
        padding-bottom: 8px;
    }
</style>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-5">
            <a style="font-size: 25px;" class="navbar-brand" href="{% url 'home' %}">𝓛𝓲𝓬𝓮𝓷𝓼𝓮 𝓟𝓵𝓪𝓽𝓮
                𝓡𝓮𝓬𝓸𝓰𝓷𝓲𝓽𝓲𝓸𝓷</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 ml-5 mt-lg-0">
                    <li class="nav-item {% if nav == 'home' %}active{% endif %}">
                        <a id="home" class="nav-link" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item {% if nav == 'statistics' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'statistics' %}">Statistics</a>
                    </li>

                </ul>
                <ul class="navbar-nav mt-2 mt-lg-0 ml-5 mr-4">
                    <li class="nav-item mr-3">
                        <i class="nav-link active">Hi, {{user.username}}</i>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"
                                style="font-size: 14px;"></i>
                            logout</a>
                    </li>

                </ul>


            </div>
        </nav>
    </div>

    {% block content %}

    {% endblock content %}

    <div class="footer">
        <p>IUH - Industrial University of Ho Chi Minh City</p>
    </div>

</body>

</html>